* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    margin-top: 0px;
}

.top {
    background-color: white;
    color: dimgray;
    height: auto;
    margin: 0;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#colorBlock {
    background-color: darkcyan;
    height: 340px;
    width: 100%;
}

#img1Div {
    background-image: -webkit-linear-gradient(120deg, white 50%, darkcyan 50%);
    height: 500px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}

#img1 {
    height: 750px;
    width: auto;
    position: absolute;
    bottom: 40px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid fuchsia; */
}

h2 {
    color: black;
    /* border: 2px solid red; */
    font-size: 70px;
    margin: 0px;
    align-self: center;
    text-align: center;
}

#about {
    max-width: 540px;
    font-size: 45px;
    line-height: 60px;
}

.mid {
    background-color: white;
    height: auto;
}

.projectsDiv {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 100px;
    padding: 30px;
}

.card {
    height: 750px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
    border: 3px solid black;
} 

.card div {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    align-items: center;
}

.cardTop {
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 90px;
}

#card1 .cardTop {
    background-color: mediumpurple;
}
#card2 .cardTop {
    background-color: goldenrod;
}
#card3 .cardTop {
    background-color: olivedrab;
}
#card4 .cardTop {
    background-color: violet;
}
#card5 .cardTop {
    background-color: cornflowerblue;
}
#card6 .cardTop {
    background-color: maroon;
}

.cardBot {
    background-color: white;
    padding: 20px 40px;
    font-size: 40px;
}

.cardBot p {
    color: dimgray ;
    font-size: 35px;
    align-self: start;
}

.bot {
    background-color: dodgerblue;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDiv {
    color: white;
    /* border: 5px solid fuchsia; */
    margin: 0px 30px;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: start;
}

.contactDiv p {
    margin: 20px 0px;
}

#contact1 {
    font-size: 40px;
}

#img2 {
    width: 100%;
}