* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    margin-top: 0px;
}

.top {
    background-color: greenyellow;
    height: auto;
    margin: 0;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#img1Div {
    background-color: greenyellow;
    background-image: -webkit-linear-gradient(130deg, white 50%, blue 50%);
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

#img1 {
    height: 750px;
    width: auto;
    margin-bottom: 50px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid fuchsia;
}

h2 {
    align-self: center;
    text-align: center;
    border: 2px solid red;
    font-size: 70px;
    margin: 0px;
}

#about {
    max-width: 540px;
    font-size: 45px;
    line-height: 60px;
}

.mid {
    background-color: peachpuff;
    height: auto;
}

.projectsDiv {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px;
}

.card {
    height: 750px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
    border: 3px solid green;
} 

.card div {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    align-items: center;
}

.cardTop {
    justify-content: center;
    background-color: mediumpurple;
    color: white;
    text-align: center;
    font-size: 90px;
}

.cardBot {
    background-color: white;
    padding: 20px 40px;
    font-size: 40px;
}

.cardBot p {
    color: dimgray ;
    font-size: 35px;
    align-self: start;
}

.bot {
    background-color: dodgerblue;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDiv {
    color: white;
    border: 5px solid fuchsia;
    margin: 0px 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: start;
}

.contactDiv p {
    margin: 20px 0px;
}

#contact1 {
    font-size: 40px;
}

#img2 {
    width: 100%;
}