* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Playfair Display';
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    margin-top: 0px;
}

.top {
    background-color: white;
    color: dimgray;
    height: auto;
    margin: 0;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#colorBlock {
    background-color: darkcyan;
    height: 125px;
    width: 100%;
}

#img1Container {
    background-image: -webkit-linear-gradient(120deg, white 50%, darkcyan 50%);
    height: 325px;
    width: 100%;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

#img1 {
    background-image: url(fox1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 370px;
    width: 300px;
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: start;
    align-items: end;
    border: 5px solid red;
}

#imgText {
    color: black;
    font-size: 40px;
    font-family: 'Playfair Display';
    margin-left: 35px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    /* border: 5px solid fuchsia; */
    margin-top: -50px;
    z-index: 0;
}

h2 {
    color: black;
    /* border: 2px solid red; */
    font-size: 38px;
    margin: 0px;
    align-self: center;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: lighter;
}

#about1 {
    margin-top: 10PX;
    /* max-width: 300px; */
    font-size: 19px;
    line-height: 28px;
    /* text-align: justify; */
}

#about2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
}

.icons1 {
    height: 30px;
    width: auto;
    margin: 10px 10px;
}

#bird1 {
    height: 45px;
    width: auto;
    margin: 2px 6px;
}

.mid {
    background-color: white;
    height: auto;
    width: 100%;
    padding-bottom: 125px;
    /* border: 5px solid red; */
}

.projectsDiv {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 30px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTop {
    color: white;
    font-size: 38px;
    text-align: center;
    height: 225px;
    padding: 30px;
    padding-bottom: 50px;
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#card1 .cardTop {
    background-color: mediumpurple;
}
#card2 .cardTop {
    background-color: goldenrod;
}
#card3 .cardTop {
    background-color: olivedrab;
}
#card4 .cardTop {
    background-color: violet;
}
#card5 .cardTop {
    background-color: cornflowerblue;
}
#card6 .cardTop {
    background-color: maroon;
}

.cardBot {
    background-color: white;
    height: 150px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 20px -10px;
}

.cardBot, .cardTop {
    width: 100%;
    max-width: 300px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.project1 {
    font-family: 'Playfair Display';
    margin-left: 20px;
    /* border: 2px solid blue; */
}

.project2 {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
}

.icons2 {
    height: 20px;
    margin: 5px 5px; 
}

.cardBot p {
    color: dimgray ;
    font-size: 15px;
    /* align-self: start; */
    margin-top: 10px;
    margin-left: 10px;
}

.bot {
    background-color: dodgerblue;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contactDiv {
    color: white;
    /* border: 5px solid fuchsia; */
    /* margin: 0px 500px; */
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 0px 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    width: 100%;
}

/* .contactDiv div {
    margin: 0px 30px;
} */

.contactDiv h2 {
    color: #ffffff;
    margin: 5px 0px;
}

.contactDiv p {
    margin: 20px 0px;
}

#contact1 {
    font-size: 19px;
    margin: 5px 0px;
}

#contact3 {
    display: flex;
    flex-direction: column;
}

#contact3 div {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: -8px;
    padding: 0;
    justify-content: start;
    align-items: center;
    /* border: 3px solid red; */
}

#phone, #email {
    height: 20px;
    color: white;
    margin: 0;
    display: none;
}

#contact4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
}

.icons3 {
    height: 38px;
    width: auto;
    margin: 30px 15px;
}

#bird2 {
    height: 55px;
    width: auto;
    margin: 20px 10px;
}

#img2 {
    width: 100%;
}

@media (min-width: 585px) {

#img1Container {
    background-image: -webkit-linear-gradient(105deg, white 50%, darkcyan 50%);
    /* background-image: url(fox1Sqr.jpg); */

}

#img1 {
    background-image: url(fox1Sqr.jpg);
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid h2 {
    /* border: 5px solid red; */
    width: 100%;
    text-align: start;
    max-width: 800px;
    padding-left: 30px;
    margin: 0px 80px;
}

.projectsDiv {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
    max-width: 900px;
}

.bot {
    background-color: lawngreen;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 35px 30px;
    padding-bottom: 0px;
}

.bot h2 {
    align-self: flex-start;
}

#phone, #email {
    display: inline-block;
    margin-left: 10px;
}

#contact4 {
    justify-content: start;
    margin-left: -10px;
}

#img2 {
    display: none;
}

#img2Div {
    background-image: url(fox2.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 450px;
    /* border: 5px solid red; */
}

} 

@media (min-width: 1200px) {

.bot {
    background-color: hotpink;
}

}