* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Playfair Display';
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    margin-top: 0px;
}

.top {
    background-color: white;
    color: dimgray;
    height: auto;
    margin: 0;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#colorBlock {
    background-color: darkcyan;
    height: 340px;
    width: 100%;
}

#img1Div {
    background-image: -webkit-linear-gradient(120deg, white 50%, darkcyan 50%);
    height: 500px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}

#img1 {
    height: 750px;
    width: auto;
    position: absolute;
    bottom: 40px;
}

#imgText {
    color: black;
    font-size: 100px;
    position: absolute;
    font-family: 'Playfair Display';
    top: 200px;
    left: 70px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid fuchsia; */
}

h2 {
    color: black;
    /* border: 2px solid red; */
    font-size: 75px;
    margin: 0px;
    align-self: center;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: lighter;
}

#about1 {
    margin-top: 20PX;
    max-width: 540px;
    font-size: 38px;
    line-height: 60px;
}

#about2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
}

.icons1 {
    height: 60px;
    width: auto;
    margin: 25px 20px;
}

#bird1 {
    height: 80px;
    width: auto;
    margin: 15px 15px;
}

.mid {
    background-color: white;
    height: auto;
    padding-bottom: 250px;
}

.projectsDiv {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 100px;
    padding: 30px;
}

.card {
    height: 750px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
    border: 3px solid black;
} 

.cardTop {
    color: white;
    font-size: 75px;
    text-align: center;
    padding: 50px;
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#card1 .cardTop {
    background-color: mediumpurple;
}
#card2 .cardTop {
    background-color: goldenrod;
}
#card3 .cardTop {
    background-color: olivedrab;
}
#card4 .cardTop {
    background-color: violet;
}
#card5 .cardTop {
    background-color: cornflowerblue;
}
#card6 .cardTop {
    background-color: maroon;
}

.cardBot {
    background-color: white;
    padding: 20px 20px;
    font-size: 40px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.project1 {
    font-family: 'Playfair Display';
    margin-left: 40px;
    /* border: 2px solid blue; */
}

.project2 {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
}

.icons2 {
    height: 40px;
    margin: 5px 10px; 
}

.cardBot p {
    color: dimgray ;
    font-size: 29px;
    /* align-self: start; */
    margin-top: 20px;
    margin-left: 20px;
}

.bot {
    background-color: dodgerblue;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDiv {
    color: white;
    /* border: 5px solid fuchsia; */
    margin: 0px 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: start;
}

.contactDiv h2 {
    color: white;
}

.contactDiv p {
    margin: 20px 0px;
}

#contact1 {
    font-size: 38px;
}

#contact4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15px;
}

.icons3 {
    height: 80px;
    width: auto;
    margin: 25px;
}

#bird2 {
    height: 100px;
    width: auto;
    margin: 15px 20px;
}

#img2 {
    width: 100%;
}

