* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    margin-top: 0px;
}

.top {
    background-color: greenyellow;
    height: auto;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

img {
    height: 750px;
    width: auto;
    margin-bottom: 50px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    border: 2px solid red;
    width: 600px;
    font-size: 70px;
}

#about {
    max-width: 540px;
    font-size: 45px;
    line-height: 60px;
}

.mid {
    background-color: peachpuff;
    height: auto;
}

.projectsDiv {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px;
}

.card {
    height: 800px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    border: 3px solid green;
} 

.card div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
}

.bot {
    background-color: dodgerblue;
    height: 1500px;
}